Setlist {
    background-color: #8FA998;
    width: 100%;
}
Song{
    display: block;
    color: #CDB2AB;
    background-color: #F786AA;
    margin-bottom: 35pt;
    margin-left: 0;
}
Name{
    display: block;
    color: #F786AA;
    font-size: 20pt;
}
Artist{
    display: block;
    color: #F786AA;
    font-size: 20pt;
}
Genre, Year {
    display: block;
    color: #F786AA;
    margin-left: 20pt;
}
