Setlist {
    background-color: #9E7682;
    width: 100%;
}

Name{
    font-style: italic;
    display: block;
    color: #EDCB96;
    font-size: 40pt;
}
Artist{
    display: block;
    color: #F7C4A5;
    margin-left: 10pt;
    font-size: 20pt;
}
Genre, Year {
    display: block;
    line-height: 30px;
    color: #605770;
    margin-left: 20pt;
}
