Setlist {
    background-color: Red;
    width: 100%;
}
Song{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
Title{
    display: block;
    color: blue;
    font-size: 20pt;
}
Artist{
    display: block;
    color: white;
    font-size: 200pt;
}
Genre, Year {
    display: block;
    color: #000000;
    margin-left: 20pt;
}
