Setlist {
    background-color: #ffffff;
    width: 100%;
}
Song{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}
Title {
    display: block;
    color: #ff0000;
    font-size: 20pt;
}
Artist {
    display: block;
    color: #0000ff;
    font-size: 20pt;
}
Genre, Year {
    display: block;
    color: #000000;
    margin-left: 20pt;
}
